// Colours

$purple-9: #0b0266;
$purple-8: #1f148d;
$purple-7: #4338b8;
$purple-6: #5d52c9;
$purple-5: #756ae4;
$purple-4: #978df3;
$purple-3: #b8b2f8;
$purple-2: #e3e0ff;
$purple-1: #f1f0ff;

$grey-9: #21211e;
$grey-8: #3e3e38;
$grey-7: #717169;
$grey-6: #94948a;
$grey-5: #b3b3aa;
$grey-4: #d7d7cf;
$grey-3: #e5e5e1;
$grey-2: #f4f4f1;
$grey-1: #fafafa;

$red-9: #4b0f0b;
$red-8: #6b120d;
$red-7: #93241d;
$red-6: #b9251c;
$red-5: #d92f24;
$red-4: #f3675f;
$red-3: #f6a29c;
$red-2: #f7d4d2;
$red-1: #fdefef;

$green-9: #07400f;
$green-8: #12551b;
$green-7: #137120;
$green-6: #138a24;
$green-5: #19952a;
$green-4: #51bc5f;
$green-3: #a3ddaa;
$green-2: #d9f4dc;
$green-1: #ebf7ed;

$yellow-9: #453000;
$yellow-8: #694a00;
$yellow-7: #986800;
$yellow-6: #b47e00;
$yellow-5: #e09e05;
$yellow-4: #eaa400;
$yellow-3: #f8c755;
$yellow-2: #ffe5aa;
$yellow-1: #faf4e8;
