@import 'shared';

// Reset sanitize.css's weird design choices regarding cursors
html,
[aria-busy='true'],
[aria-controls],
[aria-disabled],
[disabled] {
    cursor: auto;
}

html {
    background-color: $grey-2;
}
body {
    border: solid $purple-5;
    border-width: 6px 0 6px 0;
    padding: 0.5em 1.25em;
    color: $grey-9;
    max-width: 70em;
    margin: 0 auto;
    scrollbar-gutter: both;
}

@media (max-width: 35em) {
    body {
        padding: 0.5em;
    }
}

nobr {
    white-space: nowrap;
    hyphens: none;
    display: inline;
}

.error-message {
    color: $grey-9;
    padding: 1em;
    margin: 1em 0;
    background: $grey-3;
    font-family: monospace;
    white-space: pre-line;
}

.whisper {
    color: $grey-6;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus. This is using the focus-visible polyfill.
*/
.js-focus-visible :focus:not([data-focus-visible-added]) {
    outline: none !important;
}

*:focus {
    outline: 2px dashed $purple-7;
}

@media print {
    body {
        padding: 0;
        background: none;
    }
}
